.dataTable td:last-child, .dataTable th:last-child {text-align: right;}

input[disabled] {background-color: #efefef !important; cursor: not-allowed !important}
input:-moz-read-only { /* For Firefox */
    background-color: #efefef !important; cursor: not-allowed !important
}
input:read-only { 
    background-color: #efefef !important; cursor: not-allowed !important
}

/* nav */
.login-info p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.minified .login-info p {
    display: none
}

/*SLIDER*/
.superbox-list {vertical-align: top;}
.superbox-list a.btn-danger {position: absolute; right: 6px; bottom: 6px}
.superbox-list a.btn-primary {position: absolute; right: 45px; bottom: 6px}
.superbox-list a.hide {display: block !important}
.superbox-list .btn:active {position: absolute; top: inherit !important; left: inherit !important}
.superbox-img {cursor: move; min-height: 32px;}
.superbox-img:hover {opacity: 1}
.ui-sortable-placeholder {height: auto !important; visibility: visible !important; vertical-align: top;}
.ui-sortable-placeholder::before {content: ''; display: block; outline: 1px dashed #a8a8a8; width: 100%; padding-top: 100%; box-sizing: border-box;}
#sliderImagenes .empty {margin: 60px 0; font-size: 24px; text-align: center}
.dataTable .label {cursor: pointer}
/*FIN SLIDER*/
